body {
    font-family: "Open Sans", sans-serif;
    background-color: #eef0ed;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: rgba(34,64,195,1);
}

header h2 {
    color: #f2f5f0;
}

.site-footer {
    background: rgb(57,128,64);
background: linear-gradient(0deg, rgba(57,128,64,0.5) 10%, rgba(34,64,195,0.4957081545064378) 46%, rgba(248,251,248,0.5) 100%, rgba(0,0,0,1) 100%);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background: rgb(34,64,195);
    background: linear-gradient(0deg, rgba(34,64,195,1) 12%, rgba(57,128,64,1) 59%, rgba(34,64,195,1) 100%);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar{
    background-color: #0f0f4b;
}

.tab-content {
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #0f0f4b;
}

.modal-dialog {
    background-color: white;
}